body{
	width: 100%;
	height:100%;
	
}

#imagenes{
	width: 25%;
	height:100%;
	display: flex;
	flex-wrap: wrap;

}

html {
	width: 100%;
	height: 100%;
}

#contenedor{
	width: 100%;
	height: 100%;
	border: 3px ;
	display: flex;
	border: 2px pink solid;
	background-image: url("./img/atardecer-3d.jpg");
	
}
#principal {
	width: 70%;
	height:80%;
	display: flex;
	justify-content: center;
	align-items: center;

}
#contenedor > #imagenes > div > img {
	width: 80%;
	height: 100%;
}
#contenedor > #principal > img {
	width: 80%;
	height: 65%;
}
#imagenes > div {
	width: 50%;
	height: 10%;

}
